<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HBImageTableCell</string>
			<key>icon</key>
			<string>banner.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jacc.wiiprefs</string>
			<key>key</key>
			<string>ENABLE_APPSTORE</string>
			<key>label</key>
			<string>Enable Wii Store Theme</string>
			<key>PostNotification</key>
			<string>com.jacc.wiiprefs-reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Select apps...</string>
			<key>action</key>
			<string>selectStoreApps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jacc.wiiprefs</string>
			<key>key</key>
			<string>ENABLE_CYDIA</string>
			<key>label</key>
			<string>Enable Homebrew Theme</string>
			<key>PostNotification</key>
			<string>com.jacc.wiiprefs-reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Select apps...</string>
			<key>action</key>
			<string>selectHomeBrewApps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jacc.wiiprefs</string>
			<key>key</key>
			<string>ENABLE_WEATHER</string>
			<key>label</key>
			<string>Enable Weather Theme</string>
			<key>PostNotification</key>
			<string>com.jacc.wiiprefs-reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Select apps...</string>
			<key>action</key>
			<string>selectWeatherApps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jacc.wiiprefs</string>
			<key>key</key>
			<string>ENABLE_PHOTOS</string>
			<key>label</key>
			<string>Enable Photos Theme</string>
			<key>PostNotification</key>
			<string>com.jacc.wiiprefs-reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Select apps...</string>
			<key>action</key>
			<string>selectPhotoApps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jacc.wiiprefs</string>
			<key>key</key>
			<string>ENABLE_NEWS</string>
			<key>label</key>
			<string>Enable News Theme</string>
			<key>PostNotification</key>
			<string>com.jacc.wiiprefs-reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Select apps...</string>
			<key>action</key>
			<string>selectNewsApps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jacc.wiiprefs</string>
			<key>key</key>
			<string>ENABLE_CONTACTS</string>
			<key>label</key>
			<string>Enable Contacts Theme</string>
			<key>PostNotification</key>
			<string>com.jacc.wiiprefs-reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Select apps...</string>
			<key>action</key>
			<string>selectContactApps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jacc.wiiprefs</string>
			<key>key</key>
			<string>ENABLE_HEALTH</string>
			<key>label</key>
			<string>Enable Health Theme</string>
			<key>PostNotification</key>
			<string>com.jacc.wiiprefs-reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Select apps...</string>
			<key>action</key>
			<string>selectHealthApps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jacc.wiiprefs</string>
			<key>key</key>
			<string>ENABLE_FMF</string>
			<key>label</key>
			<string>Enable Check Mii Out Theme</string>
			<key>PostNotification</key>
			<string>com.jacc.wiiprefs-reload</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Select apps...</string>
			<key>action</key>
			<string>selectFriendsApps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Created By:</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Jack</string>
			<key>user</key>
			<string>j6ckson</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Diatrus</string>
			<key>user</key>
			<string>Diatrus</string>
		</dict>
	</array>
	<key>title</key>
	<string>Wiivamp</string>
</dict>
</plist>
